.parceiros {
  display: flex;
  padding-top: 60px;
  padding-bottom: 120px;
}
.parceiros video {
  margin-left: 300px;
}

@media (max-width: 800px) {
  .parceiros video {
    margin-left: 0px;

    height: 300px;
    width: 100%;
  }
}
